.bg-main {
    background-color: black;
}

.bg-content {
    background-color: #202020;
}

.bg-highlight {
    background-color: #fad727;
}

.bd-content {
    border-color: #fad727 !important;
}
.bd-content-2 {
    border-color: #2f2f2f !important;
}

.font-color-main {
    color: white;
}
.font-color-content-1 {
    color: #fad727;
}
.font-color-content-2 {
    color: grey;
}
.font-color-title {
    color: #969aff;
}

.filter-dark {
    filter: brightness(0%);
}

.disclaimer {
    background-color: #ff24246c;
    color: #FF3030;
    text-shadow: red;
    box-shadow: rgba(255, 0, 0, 0.14);
    border-color: #FF3C3C
}