.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.font-xlarge {
    font-size: x-large;
}

.font-xxlarge {
    font-size: xx-large;
}

.font-xxxlarge {
    font-size: 48px;
}

.center-text {
    text-align: center;
}

@font-face {
    font-family: 'InterBlack';
    src: url("Inter/static/Inter_24pt-Black.ttf")
}

@font-face {
    font-family: 'InterThin';
    src: url("Inter/static/Inter_24pt-Thin.ttf")
}

@font-face {
    font-family: 'InterLight';
    src: url("Inter/static/Inter_24pt-Light.ttf")
}

.main-font {
    font-family: InterBlack;
}
.sub-font {
    font-family: InterThin;
}
.content-font {
    font-family: InterLight
}