.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.font-xlarge {
    font-size: x-large;
}

.font-xxlarge {
    font-size: xx-large;
}

.font-xxxlarge {
    font-size: 48px;
}

.font-1-2vw {
    font-size: 1.2vw;
}

.center-text {
    text-align: center;
}

@font-face {
    font-family: 'InterBlack';
    src: url("Inter/static/Inter_24pt-Black.ttf")
}
@font-face {
    font-family: 'InterThin';
    src: url("Inter/static/Inter_24pt-Thin.ttf")
}
@font-face {
    font-family: 'InterLight';
    src: url("Inter/static/Inter_24pt-Light.ttf")
}
@font-face {
    font-family: 'InriaSansLight';
    src: url("Inria_Sans/InriaSans-Light.ttf")
}

.main-font {
    font-family: InterBlack;
}
.title-font-1 {
    font-family: InterBlack;
}
.title-font-2 {
    font-family: InterLight;
}
.sub-font {
    font-family: InterThin;
}
.content-font {
    font-family: InterLight
}
.content-font-2 {
    font-family: InriaSansLight;
}

@media only screen and (max-width: 800px) {
    .mobile-font-medium {
        font-size: medium;
    }
}