.max-square-100px {
    max-height: 100px;
    max-width: 100px;
}

.max-square-90px {
    max-height: 90px;
    max-width: 90px;
}

.max-square-30px {
    max-height: 30px;
    max-width: 30px;
}

.max-width-80px {
    max-width: 80px;
}

.max-height-65px {
    max-height: 65px;
}

.fill100per {
    height: 100%;
    width: 100%;
}

.overflowy-scroll {
    overflow-y: scroll;
}

.hide-scroll {
    scrollbar-width: none;
}

.minheight10vw {
    min-height: 10vw;
}

.sticky-on-top {
    position: sticky;
    top: 0;
}

body, p {
    padding: 0;
    margin: 0;
}

header {
    z-index: 2;
}

main {
    padding: 100px 100px;
}

.tier {
    display: grid;
    grid-template-columns: 180px calc(100% - 188px);
    justify-content: space-between;
    min-height: 110px;
}

.tier > div {
    min-height: 90px;
    min-width: 120px;
}

.tier-title {
    height: 45px;
    width: 60px;
}

.operator-profile {
    position: relative;
    width: 94px;
    height: 94px;
    margin: 0 6px 6px 0;
}
.operator-profile > div {
    position: absolute;
    top: 0;
    width: 100%;
    transition: border-top 200ms;
}
.operator-profile:hover > div {
    border-top: 94px solid;
}
.operator-profile > img {
    position: absolute;
    width: 94px;
    height: 94px;
}

.no-pad-mar {
    padding: 0;
    margin: 0;
}

.pad8px {
    padding: 8px;
}

.pad10px {
    padding: 10px;
}

.pad15px {
    padding: 15px;
}

.pad25px {
    padding: 25px;
}

.padtopbot8px{
    padding: 8px 0px;
}

.padtop0px {
    padding-top: 0px;
}

.padtop8px {
    padding-top: 8px;
}

.padbot8px {
    padding-bottom: 8px;
}

.padbot50px {
    padding-bottom: 50px;
}

.padbot100px {
    padding-bottom: 100px;
}

.martop8px {
    margin-top: 8px;
}

.martop15px {
    margin-top: 15px;
}

.borinner {
    box-sizing: border-box;
}

.bortop5px {
    border-top: 5px solid;
}

.bor3px {
    border: 3px solid;
}

.bor5px {
    border: 5px solid;
}

.flex-ver {
    display: flex;
    flex-direction: column;
}

.flex-hor {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.show-on-mobile {
    display: none;
}

.mobile-spacer-50px {
    height: 0px;
}

.grid12vw2x6{
    display: grid;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw;
}

.grid15vw3x6{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw 15vw;
}

.grid12vw3x3 {
    display:grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw 12vw;
}

.griditem2x2 {
    grid-area: auto / auto / span 2 / span 2;
}

.griditem2x3 {
    grid-area: auto / auto / span 2 / span 3;
}

.griditem1x2 {
    grid-area: auto / auto / span 1 / span 2;
}

.griditem1x3 {
    grid-area: auto / auto / span 1 / span 3;
}

.gridgap11px {
    gap: 11px;
}

@media only screen and (max-width: 800px) {
    main {
        padding: 10px;
    }

    .mobile-padding2vw {
        padding: 3vw;
    }

    .flex-ver-mobile {
        display: flex;
        flex-direction: column;
    }

    .align-center-mobile {
        align-items: center;
    }

    .justify-center-mobile {
        justify-content: center;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: inherit;
    }

    .mobile-spacer-50px {
        height: 50px;
    }

    .mobile-grid30vw4x3 {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 30vw 30vw 30vw 30vw;
    }

    .mobile-grid30vw3x3 {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 30vw 30vw 30vw;
    }

    .mobile-gridgap2vw {
        gap: 2vw;
    }

}